.carousel-fade {
    .carousel-inner {
        .carousel-item {
            transition-property: all;
        }
        
        .carousel-item,
        .active.carousel-item-left,
        .active.carousel-item-right {
            opacity: 0;
        }

        .active,
        .carousel-item-next.carousel-item-left,
        .carousel-item-prev.carousel-item-right {
            opacity: 1;
        }

        .carousel-item-next,
        .carousel-item-prev,
        .active.carousel-item-left,
        .active.carousel-item-right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
