footer {
	padding-top: 15px;
	padding-bottom: 20px;

	.footer-menu {
		margin-top: 15px;
		margin-bottom: 20px;
		ul {
			text-align: center;
			padding-left: 0;
			margin-left: 0;
			margin-bottom: 0;
			.current-menu-item a {
						color: #888;
			}
			li {
				list-style: none;
				display: inline-block;
				padding: 8px;
				font-size: 14px;
				a {
					font-weight: 700;
					color: $orange;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
	.footer-contato {
		@media all and (min-width: 767px) {
			text-align: left!important;
		}

	}
	.footer-social {
		ul {
			font-size: 18px;
			a {
				color: $orange;
				&:hover {
					color: #252525;
				}
			}
		}
	}
	.footer-credits {
		color: #888;
	}
}