.queromaisinformacoes {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	background-image: url('./img/conexao-marketing-hineo.jpg');
	background-color: $purple;
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
	color: white;
	min-height: 100vh;
	overflow: hidden;
	margin: 0 40px 40px 40px;
	@include border-radius(40px);
	@media all and (max-width: 1199px) {
		margin: 0 30px 30px 30px;
		@include border-radius(30px);
	}
	@media all and (max-width: 767px) {
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 15px 15px 15px;
		@include border-radius(15px);
	}
	.col-12	{
		filter: blur(5px);
		opacity: 0;
		transition: 2s;
		&.unBlur {
			filter: blur(0px);
			opacity: 1;
		}
	}
	h2 {
		strong {
			color: $orange;
		}
	}
}