.queromaisinformacoes {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	background-image: url('./img/conexao-marketing-hineo.jpg');
	background-color: $purple;
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
	color: white;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	@media all and (max-width: 991px) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	@media all and (max-width: 767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-12	{
		filter: blur(5px);
		opacity: 0;
		transition: filter 2s, opacity 2s;
		&.unBlur {
			filter: blur(0px);
			opacity: 1;
		}
	}
	h2 {
		strong {
			color: $orange;
		}
	}
}