

.page-header {
	padding-top: 135px;
	padding-bottom: 80px;
	color: white;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	h2 {
		font-weight: 700;
		strong, b {
			font-weight: 900;
		}
	}
}

.page-section {
	padding-top: 90px;
	padding-bottom: 90px;
	@media all and (max-width: 1199px) {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	@media all and (max-width: 767px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}


.blog-item {
	position: relative;
	height: 420px;
	margin-bottom: 15px;
	background: #aaa;
	border: 1px solid #f0f0f0;
	background-size: cover;
	background-position: center -60px;
	@media all and (max-width: 1199px) {
		height: 300px;
	}
	.blog-meta {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 15px;
	}
}

.blog-meta {
		background: $light-blue;
		.title {
			color: $blue;
			font-weight: 700;
		}
		small {
			color: #444;
		}
}

.servicos-header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.servico-comparison {
	border-bottom: 10px solid $red;
	padding-bottom: 0;
	overflow: hidden;
}

.servico-topico {
	margin-bottom: 60px;
	margin-top: 30px;
	text-align: center;
	h4 {
		font-weight: 700;
	}
	img, svg {
		height: 160px;
		width: auto;
		margin: 0 auto;
		display: block;
		margin-bottom: 15px;
	}
}
.servico-frase {
	position: relative;

	.imgbg {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}
	.row {
		min-height: 580px;
	}
}

.sobre, .contato-video {
	video {
		width: 100%;
		height: auto;
	}
}
.video-gif {
	::-webkit-media-controls-start-playback-button {
	  display: none!important;
	  -webkit-appearance: none;
	}
}

.contato-header {
	position: relative;
	overflow: hidden;
	color: white;
	background: transparent;
	padding-top: 155px;
	padding-bottom: 135px;
	video, img {
		position: absolute;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  transform: translate(-50%, -50%);
	  z-index: -3;
    object-fit: cover;
	}
	input.wpcf7-submit.wpcf7-form-control {
		@extend .btn;
		@extend .btn-outline-light;
		margin-bottom: 15px;
		width: 100%;
	}
}
.contato-mapa {
	iframe {
		width: 100%;
		height: 500px;
	}
}

//Blog

.blog-posts {
	transform: translateY(-45px);
	z-index: 3;
	.row {
		background: $light-blue;
		margin-bottom: 30px;
	}
	.thumbnail {
		height: 320px;
		overflow: hidden;
		position: relative;
		background-size: cover;
		background-position: center;
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.blog-meta {
		padding: 30px;
	}
}

.blog-newsletter {
	margin-bottom: 15px;
	@include border-radius(15px);
	padding: 15px;
	border: 2px solid #fff;
	color: #fff;
	.email {
		border-color: #fff;
		color: #fff;
		&:hover, &:focus {
			border-color: darken(#fff, 15%);
		}
	}
	.btn-outline-primary {
		border-color: #fff;
		color: #fff;
		&:hover, &:focus {
			border-color: $light-blue;
			background: #fff;
			color: $blue;
		}
	}
}

.post-content {
	* {
		max-width: 100%;
	}
	a {
		font-weight: 700;
		color: $blue;
		transition: .2s;
		&:hover {
			color: $orange
		}
	}
	img {
		padding-top: 30px;
		padding-bottom: 45px;
	}
	.legenda, figcaption {
		transform: translateY(-30px);
		font-style: italic;
		font-size: 14px;
	}
		
}


.pagination-wrapper {
	text-align: center;
	margin-top: 45px;
	p {
		color: #aaa;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 15px;
	}
	.numbers {
		clear: both
	}
	a, span {
		padding: 5px 12px;
		border: 1px solid #eee;
		margin: 6px;
		margin-left: 0;
	}
	a {
		font-weight: 700;
		background: #efefef;
		border-color: #e0e0e0;
	}
	a:hover {
		background: $blue;
		color: white;
	}
	span {
		font-weight: 400;
		color: #888;
	}
}

.blog-newsletter {
	.newsletter {
		background: $blue;
		margin-bottom: 15px;
		@include border-radius(15px);
		padding: 15px;
		border: 2px solid $blue;
		color: white;
		input.wpcf7-form-control {
			&:focus, &:hover {
				color: white;
			}
		}
		input.wpcf7-submit {
			@extend .btn;
			@extend .btn-outline-light;
			width: 100%;
		}
		.ajax-loader {
			display: none;
		}
		div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
			margin-top: 0;
		}
		.email {
			border-color: $blue;
			color: $blue;
			&:hover, &:focus {
				border-color: darken($blue, 15%);
			}
		}
	}
}

.post-sidebar {
	.newsletter {
	margin-bottom: 15px;
	@include border-radius(15px);
		padding: 15px;
		border: 2px solid $blue;
		color: $blue;
		input.wpcf7-form-control {
			border-color: $blue;
			color: $blue;
			&:hover, &:focus {
				color: $blue;
			}
		}
		input.wpcf7-submit {
			@extend .btn;
			@extend .btn-outline-primary;
			width: 100%;
			border-color: $blue;
			color: $blue;
		}
		.ajax-loader {
			display: none;
		}
		div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
			margin-top: 0;
		}
		.email {
			border-color: $blue;
			color: $blue;
			&:hover, &:focus {
				border-color: darken($blue, 15%);
			}
		}
	}
}

.social-share {
	font-size: 28px;
	.facebook {
		color: #3b5998;
	}
	.twitter {
		color: #1da1f2;
	}
	.pinterest {
		color: #bd081c;
	}
	.linkedin {
		color: #0077b5;
	}
	.google-plus {
		color: #de5449;
	}
	.whatsapp {
		color: #075e54;
	}
	li {
		transition: .3s;
		&:hover {
			transform: scale(1.1);
		}
	}
}